<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 5px; height: 50px"> 

#   Personalizing Music Video Recommendations with Emotional Intelligence

> Capstone Project: Lionel Foo

---

In [1]:
# import library
import pandas as pd

In [2]:
# Read CSV file named "youtube_comments_clean.csv" into pandas DataFrame
youtube_comments = pd.read_csv("Data/youtube_comments_clean.csv")

In [3]:
# Display information about the DataFrame
youtube_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55829 entries, 0 to 55828
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   author      55820 non-null  object
 1   updated_at  55829 non-null  object
 2   like_count  55829 non-null  int64
 3   text        55829 non-null  object
 4   video_id    55829 non-null  object
 5   public      55829 non-null  bool
dtypes: bool(1), int64(1), object(4)
memory usage: 2.2+ MB

In [4]:
# Drop unnecessary columns 'updated_at', 'like_count', and 'public' from the DataFrame
youtube_comments.drop(columns=['updated_at', 'like_count', 'public'], inplace=True)
# Rename the 'video_id' column to 'comment_origin_video_id'
youtube_comments.rename(columns={'video_id': 'comment_origin_video_id'}, inplace=True)
# Select and reorder columns 'author', 'comment_origin_video_id', and 'text'
youtube_comments = youtube_comments[['author', 'comment_origin_video_id', 'text']]
# Display the first 3 rows of the modified DataFrame
youtube_comments.head(3)

,author,comment_origin_video_id,text
0,@Royalchess1,G7KNmW9a75Y,ms miley i have alot of mixed emotions while w...
1,@mikerooney7600,G7KNmW9a75Y,i love this song it makes every day better
2,@Ganesh-zs1iv,G7KNmW9a75Y,it is feb and still i am watching it

In [19]:
# Rows with index 27386 and 52839
specific_rows_indices = [27386, 52839]
specific_rows = youtube_comments.loc[specific_rows_indices]

# Create a new DataFrame and reset the index
youtube_comments_for_demo= pd.concat([specific_rows]).reset_index(drop=True)

In [20]:
# Check dataframe before exporting
youtube_comments_for_demo

,author,comment_origin_video_id,text
0,@Luis-yq8jw,QCtEe-zsCtQ,i lost my great grandpa even though i could no...
1,@darkizofficial,uS_y_65CcpA,i feel like i am back in positive meaning musi...

In [21]:
# export dataframe with comments for demo as csv:
youtube_comments_for_demo.to_csv('Demo/youtube_comments_for_demo.csv', index=False)